<div id="<%= dom_id recipe %>" class="m-10">
  <h1 class="text-4xl font-bold" title="<%= recipe.name %> (<%= recipe.language %>)">
    <%= recipe.name %>
  </h1>

  <div class="p-3">
    <ul>
      <% recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient.name %> <%= ingredient.quantity %><%= ingredient.unit %></li>
      <% end %>
    </ul>
  </div>

  <div><%= recipe.instructions %></div>
</div>
