<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <ul>
      <% recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient.name %> <%= ingredient.quantity %></li>
      <% end %>
    </ul>
  </p>

    <p>
      <strong>Instructions:</strong>
      <%= recipe.instructions %>
    </p>

    <p>
      <strong>Language:</strong>
      <%= recipe.language %>
    </p>

  </div>
