<div id="<%= dom_id recipe %>" class="m-10">
  <h1 class="text-4xl font-bold" title="<%= recipe.name %> (<%= recipe.language %>)">
    <%= recipe.name %>
  </h1>

  <div class="flex flex-row items-center border-b-2 p-3 pb-2">
    <div class="grow-0">
      <ul class="pr-4">
        <% recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %></li>
        <% end %>
      </ul>
    </div>
    <div class="">
      <ul>
        <% recipe.ingredients.each do |ingredient| %>
          <li class="text-right"><%= ingredient.quantity %><%= ingredient.unit %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="p-3">
    <ol class="list-decimal">
      <% recipe.steps.each do |step| %>
        <li><%= step.body %></li>
      <% end %>
    </ol>
  </div>

  <div class="flex p-3">
    <div class="">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
      </svg>
    </div>
    <div class="flex-grow"><%= simple_format(recipe.notes, class: "pb-4") %></div>
  </div>
</div>
