<p class="text-green-500"><%= notice %></p>

<div class="flex">
  <div class="flex-grow">
    <h1 class="text-5xl font-bold mb-4">Recipes</h1>
  </div>
  <div class="m-4">
    <%= link_to "New recipe", new_recipe_path, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-10" %>
  </div>
</div>

<div id="recipes" class="">
  <% if @recipes.empty? %>
    <p class="p-5">No recipes yet.</p>
  <% end %>

  <% difficulty = 0 %>
  <% @recipes.each do |recipe| %>
    <% if recipe.difficulty != difficulty %>
      <% difficulty = recipe.difficulty %>
      <h2 class="text-2xl font-bold mb-4 mt-10 text-center rounded-full bg-slate-100"><%= ["Facile", "Intermediaire", "Difficile"][difficulty - 1] %></h2>
    <% end %>

    <%= link_to recipe, class: "block rounded hover:shadow p-2" do %>
      <div class="flex items-center">
        <div class="flex-grow">
          <h2 class="text-2xl font-bold mb-2">
            <%= recipe.name %>
            <% recipe.techniques.each do |technique| %>
              <span class="rounded-full shadow mr-2 px-2 text-xs bg-yellow-100">
                <%= technique.name %>
              </span>
            <% end %>
          </h2>
          <p class="text-xs mb-4"><%= recipe.ingredients.map(&:name).join(", ") %></p>
        </div>
        <div class="flex justify-end">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" /></svg>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


