<%= link_to recipes_path, class: "text-blue-500 hover:text-blue-700" do %>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
  </svg>
<% end %>

<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div class="flex justify-end">
  <div class="mr-10">
    <%= link_to edit_recipe_path(@recipe), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" do %>
      Edit
    <% end %>
  </div>
  <div>
    <%= link_to 'Delete', recipe_path(@recipe), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "text-red-500 hover:text-red-600" %>
  </div>
</div>
