<!DOCTYPE html>
<html>
  <head>
    <title>SalaisonApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-slate-50 m-10 p-20">
    <div class="w-full max-w-5xl m-1 p-3 mx-auto bg-white shadow-lg rounded-lg">
      <%= yield %>
    </div>
  </body>
</html>
